@import url('https://fonts.googleapis.com/css?family=Fresca');
@import url('https://fonts.googleapis.com/css?family=BioRhyme+Expanded');
@import url('https://fonts.googleapis.com/css?family=Signika:700');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 15px;
}

header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

footer {
	background-color: white;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-family: 'BioRhyme Expanded', serif;
	text-transform: uppercase;
	font-size: 4em;
	padding: 1%;
}

h2 {
	text-transform: uppercase;
	font-family: 'Fresca', sans-serif;
	font-size: 2.3em;
	padding-top: 4%;
}

h3 {
	text-transform: uppercase;
	font-family: 'Fresca', sans-serif;
	font-size: 2.3em;
	color: white;
}

h4 {

}

h5 {
	font-family: 'Signika', sans-serif;
	font-size: 2.6em;
}

h6 {
	font-family: 'Fresca', sans-serif;
	font-size: 2em;
	color: black;
	padding: 2% 0;
}

p {
	font-family: 'Fresca', sans-serif;
	font-size: 1.5em;
}

hr {
	width: 100%;
}

span {
	float: right;
}

label {
	display: none;
	font-family: 'Fresca', sans-serif;
	font-size: 1.7em;
	vertical-align: middle;
	z-index: 999;
}

td label {
	display: block;
	font-size: 3em;
	text-transform: uppercase;
	min-width: 140px;
}

table {
	border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    margin: 0 auto 37px;
    width: 80%;
    background: rgba(255, 255, 255, 0.66);
}

tr {

}

td {
	padding: 4.8%;
}

input {
	height: 40px;
}

.center {
	text-align: center;
}

.clearfix:after {
	height: 0;
	font-size: 0;
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
}

.navlinks {
	font-family: 'Fresca', sans-serif;
	text-align: center;	
	list-style-type: none;
	color: white;
	font-weight: bolder;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	float: right;
	padding: 1%;
	display: block;
/*	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 02s;
	transition: 0.2s; */
}

.navlinks .dropbtn {
	font-family: 'Fresca', sans-serif;
	font-size: 1em;
}

.navlinks:hover {
	color: #8c1821;
}

.mobile_toggle {
	display: none;
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
	vertical-align: middle;
	z-index: 999;
}

.dropbtn {
    border: none;
    margin: 0;
    background: none;
    cursor: pointer;
    text-align: center;
    list-style-type: none;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 100px;
}

.dropdown {
	position: relative;
	display: inline-block;
	padding: 1% 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(249, 249, 249, 0.87);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 0;
    z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #D6D0D0;
	color: #8c1821;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #D6D0D0;
}

.blknav {
	background-color: white;
}

.blknav .navlinks {
	color: black;
}

.blknav .dropbtn {
	color: black;
}

.logocent {
	margin: 4% auto;
	width: 80%;
	background-color: rgba(255, 255, 255, 0.90);
	border-radius: 25px;
	border: 20px solid #8c1821;
    border-style: double;
}

.body_sections {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 28px 0 15px;
    background-color: rgba(255, 255, 255, 0.44);
}

.roundcorn {
    border-radius: 25px;
    border: 20px solid white;
    border-style: double;
    background-color: #8c1821;
    padding: 20px;
    width: 100%;
    height: 268px;
    margin: 5% 0;
}

.dcont {
	position: relative;
}

.white {
	color: white;
	padding-top: 0;
    text-align: center;
    font-family: 'Signika', sans-serif;
}

.menu {
	width: 100%;
	margin: auto;
}

.tele {
	font-family: 'BioRhyme Expanded', serif;
	font-size: 3em;
	text-align: center;
}

.bignavwd {
    display: inline-block;
    margin: 0 5%;
    font-family: 'BioRhyme Expanded', serif;
    text-transform: uppercase;
    font-size: 4.5em;
    color: white;
/*    background: rgba(108, 109, 109, 0.63);*/
}

.line {
	width: 20px;
	height: 3px;
	background: #FFF;
	margin: 2px 0;
}

.mencol {
	width: 25%;
	display: inline-block;
	margin: 0 3.5%;
}

.colleft {
	float: left;
}

.colmid {
	margin: 0 5.5%;
}
.colright {
	float: right;
}

#toggle {
	display: none;
}

#bglandwds {
	margin: auto;
	text-align: center;
}

#landing {
	background: url("../images/MOESPICFRONT.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 1200px;
}

#eat:hover #landing {
	background: url();
	background-size: cover;
	background-repeat: no-repeat;
}
#drink:hover #landing {
	background: url("../images/IMG_1231.JPG");
	background-size: cover;
	background-repeat: no-repeat;
}

#listen:hover #landing {
	background: url("../images/1hwT1KhPHnAPivA7idnxHC9jdtunWYYxdTQq3g3dOKU.jpeg");
	background-size: cover;
	background-repeat: no-repeat;	
}

#menlog {
	width: 50%;
	margin: auto;
}

#menlog img {
	width: 100%;
}

#lower {
	margin-top: 9%;
}

#moemen {
	color: #b20837;
    text-align: center;
    text-transform: uppercase;
    padding: 2% 0;
    font-size: 1.8em;
}

#menupg {
	background: url("../images/MOESPICFRONT.jpg");
	background-size: cover;
	background-repeat: no-repeat;	
}

#footlog img {
	width: 100%;
}

#foottel {
	float: right;
	margin-top: 80px;
}

#contactpg {
	background: url(../images/contactbkgd.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#contact {
	text-align: center;
}

#nodesk {
	display: none;
}

#landlogo {
	width: 50%;
	margin: auto;
	padding-top: 14%;
}

#landlogo img {
	width: 100%;
}

#address {
	margin-top: 4%;
	text-align: center;
}

#landbkg {
	background-color: white;
	width: 60%;
	margin: auto;
}

@media only screen and (max-width: 2200px) {
	body {
		font-size: 12px;
	}
	.roundcorn {
		height: 212px;
	}
}

@media only screen and (max-width: 1900px) {
	body {
		font-size: 10px;
	}
	.mencol {
		width: 29%;
		margin: 0 1%;
	}
	.colmid	{
		margin: 0 4%
	}
	.roundcorn {
		height: 182px;
	}
}

@media only screen and (max-width: 1500px) {
	body {
		font-size: 8px;
	}
	table {
		width: 90%;
	}
	td {
		padding: 3%;
	}
	td label {
		font-size: 2em;
	}
	#landing {
		height: 771px;
	}
}

@media only screen and (max-width: 1100px)  {
	body {
		font-size: 10px;
	}
	.mencol {
		display: block;
		width: 70%;
		margin: auto;
	}
	.colleft {
		float: none;
	}
	.colright {
		float: none;
	}
	#nodesk {
		display: block;
		width: 70%;
		margin: auto;
	}
	#nomobile {
		display: none;
	}
}

@media only screen and (max-width: 900px) {
	label {
		display: block;
		float:right;
		padding: 15px;
	}
	nav{
		display: none;
		position: static;
		clear:both;
		background-image: none;
	}
	#toggle:checked + .container nav {	
		display: block;
	}
	.mobile_toggle {
		display: block;
	}	
}	

@media only screen and (max-width: 650px) {
	.roundcorn {
		height: 204px;
	}
}

@media only screen and (max-width: 600px) {
	body {
		font-size: 8px;
	}
	.mencol {
		width: 85%;
	}
}

@media only screen and (max-width: 400px) {
	body {
		font-size: 6px;
	}
	.roundcorn {
		height: 176px;
	}
}