@import url('https://fonts.googleapis.com/css?family=Fresca');
@import url('https://fonts.googleapis.com/css?family=BioRhyme+Expanded');
@import url('https://fonts.googleapis.com/css?family=Signika:700');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 15px;
}

header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;



	-webkit-transition: background-color ease-in-out 0.3s;
	-moz-transition: background-color ease-in-out 0.3s;
	-ms-transition: background-color ease-in-out 0.3s;
	-o-transition: background-color ease-in-out 0.3s;
	transition: background-color ease-in-out 0.3s; 
}
header.color {
	background-color: #FFF;
}

nav {
	text-align: center;
}

footer {
	background-color: black;
	height: 300px;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-family: 'BioRhyme Expanded', serif;
	text-transform: uppercase;
	font-size: 4em;
	padding: 1%;
}

h2 {
	text-transform: uppercase;
	font-family: 'Fresca', sans-serif;
	font-size: 2.3em;
	padding-top: 4%;
}

h3 {
	text-transform: uppercase;
	font-family: 'BioRhyme Expanded', serif;
	font-size: 1.5em;
	color: white;
	letter-spacing: 0.3em;
}

h4 {
	font-family: 'Fresca', sans-serif;
	font-size: 2.3em;
	padding-top: 4%;
	text-align: center;
}

h5 {
	font-family: 'Signika', sans-serif;
	font-size: 2.6em;
}

h6 {
	font-family: 'Fresca', sans-serif;
	font-size: 2em;
	color: black;
	padding: 2% 0;
}

p {
	font-family: 'Fresca', sans-serif;
	font-size: 1.5em;
}

hr {
	width: 100%;
}

span {
	float: right;
}

label {
	display: none;
	font-family: 'Fresca', sans-serif;
	font-size: 1.7em;
	vertical-align: middle;
	z-index: 999;
}

td label {
	display: block;
	font-size: 3em;
	text-transform: uppercase;
	min-width: 140px;
}

table {
	border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    margin: 0 auto 37px;
    width: 80%;
    background: rgba(255, 255, 255, 0.66);
}

tr {
	vertical-align: middle;
}

td {
	padding: 2.8%;
	vertical-align: top;
}

input {
	height: 40px;
}

option {
	display: block;
	font-family: 'Fresca', sans-serif;
}

br {
	display: none;
}

.center {
	text-align: center;
}

.clearfix:after {
	height: 0;
	font-size: 0;
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
}

.navlinks {
    font-family: 'Fresca', sans-serif;
    text-align: center;
    list-style-type: none;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 4em;
    vertical-align: middle;
    display: inline-block;
    min-width: 100px;
    width: 350px;
}
nav.darkentext {
	color: #333;
}

.navlinks .dropbtn {
	font-family: 'Fresca', sans-serif;
	font-size: 1em;
}

.navlinks:hover {
	color: #8c1821;
}

.mobile_toggle {
	display: none;
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
	vertical-align: middle;
	z-index: 999;
}

.dropbtn {
    border: none;
    margin: 0;
    background: none;
    cursor: pointer;
    text-align: center;
    list-style-type: none;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
	width: 350px;
}

.dropdown {
	position: relative;
	display: inline-block;
	padding: 1% 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(249, 249, 249, 0.87);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 0;
    z-index: 1;
    width: 350px;
    text-align: center;
}

.dropdown-content a {
	color: black;
	padding: 12px 0;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #D6D0D0;
	color: #8c1821;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #D6D0D0;
}

.blknav {
	background-color: white;
}

.blknav .navlinks {
	color: black;
}

.blknav .dropbtn {
	color: black;
}

.logocent {
	margin: 7% auto;
	width: 80%;
	background-color: rgba(255, 255, 255, 0.90);
	border-radius: 25px;
	border: 20px solid #8c1821;
    border-style: double;
}

.logocente {
	margin: 1% auto;
	width: 80%;
	background-color: rgba(255, 255, 255, 0.90);
	border-radius: 25px;
	border: 20px solid #8c1821;
    border-style: double;
}

.body_sections {
    width: 70%;
    margin: auto;
    margin-bottom: 1%;
    text-align: center;
    padding: 3% 0 0;
    background-color: rgba(255, 255, 255, 0.44);
}

.contact {
	padding-bottom: 2%;
}

.roundcorn {
    border-radius: 25px;
    border: 20px solid white;
    border-style: double;
    background-color: #8c1821;
    padding: 20px;
    width: 100%;
    /*height: 268px;*/
    margin: 5% 0;
}

.dcont {
	position: relative;
	font-size: .5em;
	width: 350px;
	text-align: center;
}

.inputbox {
	width: 90%;
}

.menu {
	width: 100%;
	margin: auto;
}

.tele {
	font-family: 'BioRhyme Expanded', serif;
	font-size: 2.6em;
	text-align: center;
}
.teleindex {
	color: #b20837;
}

.bignavwd {
    display: inline-block;
    margin: 3%;
    font-family: 'BioRhyme Expanded', serif;
    text-transform: uppercase;
    font-size: 4em;
    color: black;
}

.topspace {
	margin-top: 6%;
	color: white;
	text-align: center;
}

.topspace a {
	color: white;
}

.bignavwd:hover {
	text-decoration: underline;
	color: #b20837;
}

.line {
	width: 30px;
	height: 3px;
	background: #060606;
	margin: 4px 0;
}

.white {
	color: white;
	padding-top: 0;
    text-align: center;
    font-family: 'Signika', sans-serif;
}

.mencol {
	width: 25%;
	display: inline-block;
	margin: 0 3.5%;
}

.colleft {
	float: left;
}


.colmid {
	margin: 0 5.5%;
}
.colright {
	float: right;
}

.incolr {
	padding-left: 1%;
}

.cinqwd {
	width: 100%;
	text-align: center;
	margin: 5% auto;
}

.cinqwds {
	text-align: center;
	width: 75%;
    margin: 0 auto 5%;
}

.cinqwds h2 {
	font-size: 3.3em;
}

.cinqwds h4 {
	text-align: left;
}

.cinqwds p {
	text-align: left;
}

.catinfo img {
	width: 40%;
}

.col {
	width: 45%;
	display: inline-block;
	vertical-align: top;
}

.col p {
	text-align: left;
}

.incol {
	display: inline-block;
	width: 40%;
} 

.incol p {
	text-align: center;
}

.whiteline {
	background-color: white;
}

.catinfo {
	text-align: center;
	width: 75%;
    margin: 0 auto;
}

.catinfo p {
	text-align: center;
}

.ala {
	padding-top: 2%;
	width: 30%;
}

.datespan {
	float: none;
}

.nodesk {
	display: none;
	padding: 8%;
}

#toggle {
	display: none;
}

#bglandwds {
	margin: auto;
	text-align: center;
	padding: 2%;
}

.barnbkg {
	background-color: rgba(117, 117, 117, 0.43);
	width: 100%;
}

.barnbkg h1 {
	color: white;
	text-align: center;
	padding: 4%;
}

.barnbkg p {
	color: white;
	font-size: 2em;
	padding: 5% 0;
}

.barnbkg a {
	color: white;
}

.socpad {
	margin: .5%;
}

#landing {
	background: url("../images/MOESPICFRONT.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 1200px;
}

#menlog {
	width: 50%;
	margin: 10px auto;
}

#menlog img {
	width: 100%;
}

#footer_copyright {
    text-align: center;
    height: 47px;
    clear: both;
    color: white;
    padding-bottom: 1%;
}

#acwords {
	font-size: 1em;
	color: white;
	padding-top: 1%;
}

#aclogo {
	width: 30px;
}

#socmed {
	background: #b20837;
	text-align: center;
}

#socmed img {
	width: 45px;
}

#hours {
	margin: 1%;
}

#hours h4{
	color: white;
	font-size: 1em;
	padding-top: .2%;
}

#lower {
	margin-top: 9%;
}

#moemen {
	color: #b20837;
    text-align: center;
    text-transform: uppercase;
    padding: 2% 0;
    font-size: 1.8em;
}

#menupg {
	background: url("../images/wood.jpg");
	background-size: cover;
	background-repeat: no-repeat;	
	background-attachment: fixed;
}

#footlog img {
	width: 100%;
}
#footerlocation {
	margin: 6.7%;
}

#footerlocation h2 {
	padding: 0;
}

#foottel {
	float: right;
	margin-top: 60px;
}

#contactpg {
	background: url(../images/contactbkgd.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#contact {
	text-align: center;
}

#center {
	text-align: center;
	margin: auto;
	width: 70%;
}

#nodesk {
	display: none;
}

#landlogo {
	width: 20%;
	margin: auto;
	display: inline-block;
}

#landlogo img {
	width: 100%;
}

#question17_dt {
	width: 40%;
}

#question17_h {
	width: 10%;
}

#question17_m {
	width: 10%;
}

#question17_a {
	width: 10%;
}

#tix {
    background-color: #b20837;
    border-radius: 25px;
    width: 5%;
    margin: 1%auto;
    padding: 1%;
}

#address {
	text-align: center;
	padding-bottom: 33px;
}

#address h3 {
	color: #b20837;
}

#whitelandbkg {
    border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.76);
	width: 90%;
	margin: auto;
	padding: 10px;
}

#cinq {
	padding-top: 6.1%;
}

.cinqwds h1 {
	margin: 1% auto;
}

#orderform {
	text-align: center;
}

#orderformp {
	font-size: 2em;
	text-align: center;
	padding: 20px;
}

#smlwds p{
	font-size: 1em;
}

#landbkg {
	width: 80%;
	margin: auto;
	padding-top: 19%;
}

#colpad {
	padding: 0 7%;
}

#catercontact {
	width: 90%;
	margin: 0 auto 2%;
	background-color: #b7b7b7;
    padding: 2%;
}

#catercontact td {
	padding: .8%;
}

#question20 {
	width: 90%;
	height: 35px;
}

#event {
	background:	url(../images/f5yAhDC2bn_GElKBlZYEg403TUCAJdFULsJxFer5TUA,KEZysIka-wOyfIJ7lNTSYUV-hQSc3fRWtgpVFacE2sA,5VVDl_Z_bpw0zaCU__cXcM7K-99H0mzCVRHP8Hjoc_4.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

#eventinfo {
	margin: 1% 10%;
}

#blkbkg {
	background-color: black;
}

#blkbkgd {
	background-color: rgba(0, 0, 0, 0.8);
}

#des {
	width: 45%;
}

@media only screen and (max-width: 2400px) {
	h1 {
		font-size: 3.5em;
	}
	.body_sections {
		padding: 4% 0 0;
	}
}

@media only screen and (max-width: 2200px) {
	body {
		font-size: 12px;
	}
	footer {
		height: 235px;
	}
	.roundcorn {
		height: 212px;
	}
}
 
@media only screen and (max-width: 2000px) {
	.logocent {
    	margin: 9% auto;
	}
	.body_sections {
		padding: 5% 0 0;
	}
} 
	
@media only screen and (max-width: 1900px) {
	body {
		font-size: 10px;
	}
	.mencol {
		width: 29%;
		margin: 0 1%;
	}
	.colmid	{
		margin: 0 4%
	}
	.roundcorn {
		height: 182px;
	}
	.cinqwds p {
		font-size: 2.5em;
	}
	.cinqwds h4 {
		font-size: 3.3em;
	}
	.col p {
		font-size: 2em;
	}
	#footerlocation {
		margin: 10.5%;
	}
	#lower {
		margin-top: 10%;
	}
}

@media only screen and (max-width: 1800px) {
	.navlinks {
		width: 300px;
	}
	.dropbtn {
		width: 300px;
	}
	.dropdown-content {
		width: 300px;
	}
	.dcont {
		width: 300px;
	}
	#lower {
		margin-top: 3%;
	}
}

@media only screen and (max-width: 1700px) {
	footer {
	    height: 235px;
	}
	#footerlocation {
		margin: 9.5%;
	}
	#hours {
		font-size: 2em;
	}
	#des {
		width: 55%;
	}
}

@media only screen and (max-width: 1550px) {
	.navlinks {
		width: 250px;
	}
	.dropbtn {
		width: 250px;
	}
	.dropdown-content {
		width: 250px;
	}
	.dcont {
		width: 250px;
	}
	.roundcorn {
		margin: 1% 0;
	}
	.incol {
		width: 49%;
	}
}

@media only screen and (max-width: 1500px) {
	body {
		font-size: 8px;
	}
	table {
		width: 90%;
	}
	td {
		padding: 3%;
	}
	td label {
		font-size: 2em;
	}
	.topspace {
		margin-top: 8%;
	}
	.topspace p {
		font-size: 2.5em;
	}
	#tix {
		width: 10%;
	}
	#landing {
		height: 100vh;
	}
	.cinqwd {
		width: 100%;
	}
	.cinqwds {
		width: 90%;
	}
	.ala {
		width: 50%;
	}
}

@media only screen and (max-width: 1370px){
	#landing {
    	height: 78vh;
	}
}

@media only screen and (max-width: 1300px) {
	.navlinks {
		width: 200px;
	}
	.dropbtn {
		width: 200px;
	}
	.dropdown-content {
		width: 200px;
	}
	.dcont {
		width: 200px;
	}
}

@media only screen and (max-width: 1200px) {
	.bignavwd {
		margin: 3%;
	}
	#colpad {
		padding: 0 3%;
	}
}

@media only screen and (max-width: 1100px)  {
	body {
		font-size: 10px;
	}
	label {
		display: block;
		float:right;
		padding: 15px;
	}
	nav{
		display: none;
		position: static;
		clear:both;
		background-image: none;
	}
	td {
		padding: 1%;
		vertical-align: middle;
	}
	.topspace p {
		font-size: 2em;
	}
	#toggle:checked + .container {
		background-color: black;

		-webkit-transition: background-color ease-in-out 0.1s;
		-moz-transition: background-color ease-in-out 0.1s;
		-ms-transition: background-color ease-in-out 0.1s;
		-o-transition: background-color ease-in-out 0.1s;
		transition: background-color ease-in-out 0.1s;
	}
	#toggle:checked + .container nav {	
		display: block;
		min-height: 100vh;
	}
	#toggle:checked + .container nav .navlinks {
		width: 100%;
		color: white;
	} 
	#toggle:checked + .container nav .nodesk {
		display: block;
		color: white;
	}
	.mobile_toggle {
		display: block;
	}	
	.nodesk {
		width: 100%;
		padding: 20px;
	}
	.dropdown {
		padding: 0;
	}
	.navlinks {
		font-size: 3em;
		width: 150px;
	}
	.dropbtn {
		width: 150px;
	}
	.dropdown-content {
		width: 150px;
	}
	.col {
		width: 85%;
		display: block;
		margin: 2% auto;
	}
	.dcont {
		width: 150px;
	}
	.mencol {
		display: block;
		width: 70%;
		margin: auto;
	}
	.colleft {
		float: none;
	}
	.colright {
		float: none;
	}	
	.bignavwd {
		margin: 3%;
		font-size: 3.5em;
	}
	.col p {
		font-size: 2em;
	}
	.cinqwds p {
		font-size: 2em;
	}
	.cinqwds h4 {
		font-size: 2.3em;
	}
	.col p {
		font-size: 1.7em;
	}
	.roundcorn {
		height: inherit;
	}
	.ala {
		width: 50%;
	}
	#nomobile {
		display: none;
	}
	#landlogo {
		display: none;
	}
	#nodesk {
		display: block;
		width: 70%;
		margin: auto;
		padding: 30px;
	}
	#nodesk h1 {
		padding: 5px;
	}
	#address h3 {
		font-size: 1.3em;
	}
	#whitelandbkg {
		width: 100%;
	}
	#foottel {
		float: none;
		margin: 0 auto;
		text-align: center;
		padding: 20px;
	}
	#footerlocation {
		margin: 0 auto;
		text-align: center;
		padding: 20px;
	}
	#des {
		width: 65%;
	}
}

@media only screen and (max-width: 1050px) {
	.body_sections {
	    padding: 5% 0 0;
	}
	.body_sections h2 {
		font-size: 5.2em;
	}
	#contactpg {
		margin: 3% 0;
	}
	#landing {
 	   height: 83vh;
	}
}

@media only screen and (max-width: 1030px) {
	footer {
		height: 194px;
	}
	#landing {
		height: 75vh;
	}
	#hours {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 1000px)  {
	.bignavwd {
		font-size: 2.5em;
	}
	.cinqwds p {
		width: 70%;
		text-align: left;
	}
	.ala {
		width: 65%;
	}
	.ala p {
		width: 90%;
		margin: auto;
	}
	.topspace p {
		font-size: 1.5em;
	    width: 80%;
	    margin: auto;
	}
	.logocente {
		width: 90%;
	}
	#catercontact {
		width: 90%;
	}
	#whitelandbkg {
		width: 95%;
	}
	#barnbkg p {
		font-size: 2em;
		margin: auto;
	}
	#center {
		width: 100%;
	}
	#des p {
		margin: auto;
		text-align: center;
	}
	#tix {
		width: 14%;
		font-size: 2em;
		padding: 1.1%;
	}
	#des {
		width: 70%;
	}
}

@media only screen and (max-width: 900px) {
	.bignavwd {
		font-size: 4.5em;
	    display: block;
	    padding: 4%;
	}
	.col {
		width: 100%;
	}
	.cinqwds {
		font-size: .8em;
	}
	#cinq {
		padding-top: 59px;
	}
	#menlog {
		padding: 5px;
	}
	#landing {
		background: url("../images/MOESPICFRONTmobile.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	    background-position: center; 
	    height: 80vh;
	}
}	

@media only screen and (max-width: 800px) {
	footer {
		height: 270px;
	}
	.topspace {
		margin-top: 59px;
	}
	.cinqwds {
		width: 90%;
	}
	.body_sections {
		padding: 7% 0 0;
	}
	.socpad {
		margin: 1.5%;
	}
	#menlog {
		width: 70%;
	}
	#tix {
		width: 20%;
	}
	#contactpg {
		margin: 3% 0 13%;
	}
	#hours {
		margin: 4%;
	}
}

@media only screen and (max-width: 770px) {
	#landing {
		height: 76vh;
	}
	#hours {
		margin: 5%;
	}
}

@media only screen and (max-width: 740px) {
	h1 {
		font-size: 2em;
	}
	footer {
		height: 10%;
	}
	.nodesk {
		padding: .7%;
	}
	#landbkg {
		padding-top: 19%;
	}
	#landing {
		height: 83vh;
	}
	#address {
		padding-bottom: 10px;
	}
	#address h3 {
		font-size: 1em;
	}
	#des {
		width: 100%;
	}
	#menupg {
		background: url("../images/wood.jpg");
    	background-size: inherit;
    	background-repeat: inherit;
    	background-attachment: inherit;
	}
}

@media only screen and (max-width: 650px) {
	.bignavwd {
		display: block;
		margin: 6%;
	}
	.catinfo img {
		width: 80%;
	}
	.logocent {
		margin: 12% auto;
	}
	#landlogo {
		width: 80%;
	}
}

@media only screen and (max-width: 600px) {
	body {
		font-size: 8px;
	}
	td {
		display: block;
	}
	td label {
		float: none;
	}
/*	footer {
		height: 210px;
	}*/
	.body_sections {
		padding: 9% 0 0;
	}
	.incol {
		width: 49%;
	}
	.mencol {
		width: 85%;
	}
	.logocent {
		width: 90%;
	}
	.cinqwd {
		margin: 0 auto;
	}
	.cinqwd h5 {
		margin: 10px;
	}
	.cinqwds h5 {
		margin: 10px;
	}
	.cinqwds h1 {
		margin: 40px 0 20px 0;
	}
	.topspace h1 {
		padding: 30px 10px;
	}
	#eventinfo {
		margin: 0 3% 3% 3%;
	}
	#catercontact {
		width: 100%;
	}
	#landbkg {
		padding-top: 20%;
	}
	#orderform {
		margin: 0 auto;
		padding-top: 30px;
		width: 90%;
	}
	#nodesk {
		display: block;
		width: 90%;
		margin: auto;
		padding: 0 30px;
	}
}

@media only screen and (max-width: 500px) {
/*	footer {
		height: 200px;
	}*/
	br {
		display: block;
	}
	.body_sections {
		padding: 11% 0 0;
	}
	.topspace {
		margin-top: 18%;
	}
	.logocent {
		margin: 15% auto;
	}
	#menlog {
		width: 90%;
	}
	#landbkg {
		padding-top: 30%;
	}
}

@media only screen and (max-width: 420px) {
	.nodesk	 {
		padding: 7.5%;
	}
	#landing {
		height: 76vh;
	}
}

@media only screen and (max-width: 400px) {
	body {
		font-size: 6px;
	}
	.body_sections {
		padding: 14% 0 0;
	}
	#landbkg {
		padding-top: 40%;
	}
}

@media only screen and (max-width: 360px) {
	.cinqwds h1 {
		margin: 20px 0;
	}
	.logocent {
		width: 98%;
		margin: 22% auto;
	}
	.cinqwd {
		font-size: .8em;
	}
	.nodesk {
		padding: 6%;
	}
}